language: cpp
compiler:
  - gcc
  - clang

sudo: false
#sudo: required
dist: trusty

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - cmake
    - gcc-4.9
    - g++-4.9
    - clang

env:
  - EIGEN_VERSION=3.2.10
  - EIGEN_VERSION=3.3.3

before_install:
  - ${CXX} --version;
  - cmake --version;

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
  - cd tests
  - cmake . -DEIGEN_VERSION=${EIGEN_VERSION}
  - make VERBOSE=1

script: 
  - echo ${CXX}
  - make test
